section {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Verdana, Arial, Trebuchet MS;
        padding-top: 50px;
        padding-bottom: 50px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.top_add_manager {
	background-color: #03224C; 
	width: 100%;
	height: 50px;
	color: white;
	margin-bottom: 20px;
	text-align: center;
	opacity: 0.9;
}

.add_manager {
	background-color: #efefef;
	margin-top: 30px;
	padding-bottom: 20px;
	box-shadow: 0px 0px 9px #1c1a19;
	width: 500px;
	opacity: 0.9;
}

#password {
	margin-top: 20px;
	margin-bottom: 20px;
}

#button {
	align-self: center;
}

#manager_list {
        display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-right: 50px;
	margin-left: 50px;
        margin-top: 50px;
	font-size: 1em;
}

.manager {
	color: white;
	padding: 10px 30px 10px 0px;
	margin : 30px 30px 30px 30px;
	background-color: #03224C;
	opacity: 0.75;
	border-radius: 10px;
	width: 220px;
	height: 100px;
	text-align: center;
}

.manager ul a {
	color: white;
}

.manager p {
	margin-top: 0px;
}

section a {
        text-decoration: none;
}

footer{
    position : relative;
}