section {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Verdana, Arial, Trebuchet MS;
        padding-top: 50px;
        padding-bottom: 50px;
}

form {
        display: flex;
        flex-direction: column;
}

#poll_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 50px;
        margin-left: 50px;
        font-size: 1.5em;
}

#poll_list a {
        color: white;
        padding: 50px 10px 0px 10px;
        margin : 30px 30px 30px 30px;
        background-color: #03224C;
        opacity: 0.75;
        border-radius: 10px;
        text-align: center;
        width: 220px;
        height: 90px;
}

section a {
        text-decoration: none;
}

#add_poll {
        margin-top: 20px;
        margin-bottom: 50px;
        box-shadow: 0px 0px 9px #1c1a19;
        padding: 10px 10px 10px 10px;
        background-color: #03224C;
        color: white;
        opacity: 0.9;
        border-radius: 4px;
        font-size: 1.5em;
}

#answers {
        margin-top: 20px;
        margin-bottom: 50px;
        box-shadow: 0px 0px 9px #1c1a19;
        padding: 10px 10px 10px 10px;
        background-color: #03224C;
        color: white;
        opacity: 0.9;
        border-radius: 4px;
        font-size: 1.5em;
}